<nav style="border: 1px solid black; padding: 20px; background-color: #0044ff;  display: flex; justify-content: space-between; ">
    <div style="padding-bottom: 14px;">
        <a id="css" style="padding: 10px; text-decoration: none; color: whitesmoke;" href="{% url 'create' %}">createproduct</a>
        <a id="css" style="padding: 10px; text-decoration: none; color: whitesmoke;" href="{% url 'retrive' %}">retrive</a>
    </div>
    <div>
        <a id="css" style="padding: 10px; text-decoration: none; color: whitesmoke;" href="{% url 'login' %}">Login</a>
        <a id="css" style="padding: 10px; text-decoration: none; color: whitesmoke;" href="{% url 'signup' %}">Signup</a>
        <a id="css" style="padding: 10px; text-decoration: none; color: whitesmoke;" href="{% url 'logout' %}">logout</a>
    </div>
</nav>
